<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Shop Admin Panel", "http://sklepikkk.herokuapp.com", id: "logo" %></a>
      <nav>
        <ul class="nav pull-right">
          <li><a href="/users">Użytkownicy</a></li>
          <li><%= link_to "Kontakt", "/" %></li>
          <li>Hs</li>
        </ul>
      </nav>
    </div>
  </div>
</header>